.product-overview-container {
    display: flex;
    justify-content: center;
}

.overview-card {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    width: 70%;
    margin: 40px 0 100px 0;
}

.image-container {
    height: 500px;
    width: 500px;
    object-fit: contain;
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.back-link-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}

.back-link {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.back-link svg {
    margin-right: 5px;
}


.product-overview-details {
    margin-top: 20px;
    max-width: 600px;
    flex: 1;
}

.product-overview-details .product-name-desc {
    font-weight: bold;
}

.product-overview-details .product-rating {
    font-size: medium;
}

.product-overview-details .add-to-cart-button {
    font-size: large;
}

.product-overview-details .product-price,
.product-overview-details .product-name-desc,
details {
    text-align: start;
}

.product-name-desc p:first-child {
    font-size: xx-large;
    margin: 0;
}

.product-name-desc p:nth-child(2) {
    font-size: x-large;
    margin-top: 5px;
}

details summary {
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

details p {
    margin-top: 5px;
}

.admin-buttons {
    display: flex;
    justify-content: flex-end;
}

.admin-buttons button:not(:last-child) {
    margin-right: 10px;
}

.field-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.field-container label {
    font-weight: bold;
    font-size: medium;
    text-align: start;
    flex: 1;
    margin-bottom: 10px;
}

.field-container input,
.field-container textarea {
    padding: 10px;
    border: 1px solid var(--light-shade);
    border-radius: 4px;
    margin: 0px 0px 10px 10px;
    flex: 2;
    width: 100%;
    box-sizing: border-box;
}

.field-container textarea {
    min-height: 8vw;
}

.product-container, .add-product-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.add-product-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.add-product-card {
    width: 60%;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    width: 200px;
    background-color: #fff;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.product-desc {
    font-size: 14px;
    color: #7a7a7a;
    text-align: center;
    margin: 10px 0 0 0;
    height: 40px;
}

.product-rating {
    display: flex;
    font-size: 14px;
    margin: 10px 0 0 0;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.add-to-cart-button {
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.add-to-cart-button {
    background-color: var(--primary-color);
    border-radius: 7px;
    color: #fff;
    margin: 10px 0 10px 0;
}

.add-to-cart-button:hover {
    background-color: var(--primary-color-darker);
}

img {
    height: 160px;
    width: 160px;
    object-fit: contain;
}

.leave-feedback {
    display: flex;
    margin-top: 10px;
}