.product-overview-container {
    display: flex;
    justify-content: center;
}

.overview-card {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    width: 70%;
    margin: 40px 0 100px 0;
}

.image-container {
    height: 500px;
    width: 500px;
    object-fit: contain;
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.back-link-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}

.back-link {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.back-link svg {
    margin-right: 5px;
}


.product-overview-details {
    margin-top: 20px;
    max-width: 600px;
    flex: 1;
}

.product-overview-details .product-name-desc {
    font-weight: bold;
}

.product-overview-details .product-rating {
    font-size: medium;
}

.product-overview-details .add-to-cart-button {
    font-size: large;
}

.product-overview-details .product-price,
.product-overview-details .product-name-desc,
details {
    text-align: start;
}

.product-name-desc p:first-child {
    font-size: xx-large;
    margin: 0;
}

.product-name-desc p:nth-child(2) {
    font-size: x-large;
    margin-top: 5px;
}

details summary {
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

details p {
    margin-top: 5px;
}

.admin-buttons {
    display: flex;
    justify-content: flex-end;
}

.admin-buttons button:not(:last-child) {
    margin-right: 10px;
}

.field-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
  
.field-container label {
    font-weight: bold;
    font-size: medium;
    text-align: start;
    flex: 1;
    margin-bottom: 10px;
}
  
.field-container input,
.field-container textarea {
    padding: 10px;
    border: 1px solid var(--light-shade);
    border-radius: 4px;
    margin: 0px 0px 10px 10px;
    flex: 2;
    width: 100%;
    box-sizing: border-box;
}

.field-container textarea {
    min-height: 8vw;
}
  