.product-container, .add-product-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.add-product-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.add-product-card {
    width: 60%;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    width: 200px;
    background-color: #fff;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.product-desc {
    font-size: 14px;
    color: #7a7a7a;
    text-align: center;
    margin: 10px 0 0 0;
    height: 40px;
}

.product-rating {
    display: flex;
    font-size: 14px;
    margin: 10px 0 0 0;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.add-to-cart-button {
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.add-to-cart-button {
    background-color: var(--primary-color);
    border-radius: 7px;
    color: #fff;
    margin: 10px 0 10px 0;
}

.add-to-cart-button:hover {
    background-color: var(--primary-color-darker);
}

img {
    height: 160px;
    width: 160px;
    object-fit: contain;
}