.App {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #379e48;
    color: white;
    padding: 20px;
    align-items: center;
}

.App-header {
    font-family: 'Bungee Inline', cursive;font-family: 'Bungee Inline', cursive;
    background-color: #282c34;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.login-button {
    color: white;
    text-decoration: none;
}