@import '/src/colors.css';

.App {
    text-align: center;
}

.App-header {
    font-family: 'Fruktur', cursive;
    color: var(--text-color);
    text-decoration: none;
    background-color: transparent;
    font-size: x-large;
}

.App-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--lightest-shade);
    text-align: center;
    padding: 1rem 0;
}

body {
    overflow: auto;
}