.App {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.login-button {
    color: white;
    text-decoration: none;
}