obj/Debug/net7.0/project.razor.json
obj/Debug/net7.0/AYHF_Software_Architecture_And_Design.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/AYHF_Software_Architecture_And_Design.csproj.AssemblyReference.cache
obj/Debug/net7.0/AYHF_Software_Architecture_And_Design.assets.cache
