.checkout-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.checkout-container h3 {
    text-align: start;
}

.payment-options {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 16px;
}

.payment-options label {
    font-size: large;
}
