@import '/src/colors.css';

.navbar {
    display: flex;
    background-color: var(--primary-color);
    color: var(--light-shade);
    padding: 20px;
    align-items: baseline;
    justify-content: space-evenly;
}

.icons {
    display: flex;
}

.icons a {
    flex: 1;
    margin-right: 10px;
}

.icons a:last-child {
    margin-right: 0;
}

.shopping-cart, .login-icon, .shopping-list {
    font-size: x-large;
    color: var(--text-color);
    margin-bottom: 10px;
}

.login-link {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: var(--text-color);
    display: flex;
    align-items: flex-start;
}

.login-button {
    color: white;
    text-decoration: none;
}

.shopping-cart-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.shopping-cart {
    margin-right: 5px;
}

.cart-count {
    position: absolute;
    top: -8px;
    left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #dc3545;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}

.shopping-cart-link:hover {
    text-decoration: none;
}
  