.input-with-validation {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.text-input-validation, .text-input {
    padding: 10px;
    border: 1px solid var(--light-shade);
    border-radius: 4px;
}

.text-input {
    margin-bottom: 16px;
}

.error-message {
    color: red;
    font-size: small;
    text-align: start;
    margin: 5px 0px 5px 0px;
}

.input-group {
    display: flex;
}

.input-group .input-with-validation {
    width: 100%;
    margin-right: 16px;
}

.input-group .input-with-validation:last-child {
    margin-right: 0;
}

.readonly {
    color: var(--light-shade)
}

.password-container {
    display: flex;
    align-items: baseline;
}

.password-container .input-with-validation {
    width: 100%;
}

.password-container svg {
    padding: 0 5px 0 5px;
}
