.welcome {
    font-family: 'Fruktur', cursive;
    font-size: x-large;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.add-product {
    margin-right: 20px;
}
